<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="header :: page_head('Order List')"></head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="text-center pt-2"><h2>Order List</h2></div>

<div class="row">
	<div class="col-1"></div>
	<div class="col-10">
		<hr>
		<div>
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr class="text-center">
						<th>ID</th>
						<th style="width: 400px">Product</th>
						<th>Shipping</th>
						<th>Total</th>
						<th>Status</th>
						<th>Detail</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order : ${orders}">
						<td class="text-center">[[${order.id}]]</td>
						<td><p th:each="proName : ${order.productAll}">[[${proName}]]</p></td>	
						<td class="text-center">$[[${order.shippingCost}]]</td>
						<td class="text-center">$[[${order.total}]]</td>
						<td class="text-center">
							<p>[[${order.status}]]</p>
						</td>
						<td class="text-center">
							<a th:href="@{'/orders/detail/' + ${order.id}}"><i class="fas fa-info-circle"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-1"></div>
</div>

<div>
	<nav>
		<ul class="pagination justify-content-center flex-wrap">
				
			<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
				<a class="page-link fas fa-fast-backward fa-lg" 
					th:href="@{/cusOrder/page/1}"></a>
			</li>
				
			<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
				<a class="page-link fas fa-angle-left fa-lg" 
					th:href="@{'/cusOrder/page/' + ${currentPage - 1}}"></a>
			</li>

			<th:block th:if="${totalPages <= 10}">					
			<li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" 
				th:each="i : ${#numbers.sequence(1, totalPage)}">
				<a class="page-link" style="font-size: 0.8em" th:href="@{'/cusOrder/page/' + ${i}}">[[${i}]]</a>
			</li>
			</th:block>
				
			<th:block th:if="${totalPages > 10}">
				<th:block th:if="${currentPage <= 5 || currentPage > totalPage - 4}">
					<li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" 
						th:each="i : ${#numbers.sequence(1, 5)}">
						<a class="page-link" style="font-size: 0.8em" th:href="@{'/cusOrder/page/' + ${i}}">[[${i}]]</a>
					</li>
					
					<a class="page-link" th:href="@{'/cusOrder/page/' + 6 }">...</a>
					
					<li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" 
						th:each="i : ${#numbers.sequence(totalPage - 4, totalPage)}">
						<a class="page-link" style="font-size: 0.8em" th:href="@{'/cusOrder/page/' + ${i}}">[[${i}]]</a>
					</li>
				</th:block>
			</th:block>
	
			<li th:class="${currentPage < totalPage ? 'page-item' : 'page-item disabled'}">
				<a class="page-link fas fa-angle-right fa-lg" th:href="@{'/cusOrder/page/' + ${currentPage + 1} }"></a>
			</li>
			
			<li th:class="${currentPage < totalPage ? 'page-item' : 'page-item disabled'}">
				<a class="page-link fas fa-fast-forward fa-lg" th:href="@{'/cusOrder/page/' + ${totalPage} }"></a>
			</li>
  				
		</ul>
	</nav>
</div>



<div th:replace="footer :: footer"></div>


</body>
<script th:src="@{/js/all.js}"></script>
<script th:src="@{/js/jquery.number.min.js}"></script>
<script type="text/javascript"></script>
</html>