<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="header :: page_head(${pageTitle})"></head>
<body>

<div th:replace="navbar :: navbar"></div>
<div class="row pt-3 pb-4">
	<div class="col-sm-3"></div>
	<div class="col-sm-6 border rounded">
		<form th:action="@{/create_customer}" method="post" th:object="${customer}" onsubmit="return checkEmailUnique(this);">
		<div>
			<h2 class="text-center">Customer Registration</h2>
		</div>
		
		<div class="form-group row pl-4">
			<label class="col-sm-3 col-form-label">First Name</label>
			<div class="col-sm-9">
				<input type="text" th:field="*{firstName}" style="width: 440px" required="required" />
			</div>
		</div>	
		<div class="form-group row pl-4">
			<label class="col-sm-3 col-form-label">Last Name</label>
			<div class="col-sm-9">
				<input type="text" th:field="*{lastName}" style="width: 440px" required="required" />
			</div>
		</div>
		<div class="form-group row pl-4">
			<label class="col-sm-3 col-form-label">Email</label>
			<div class="col-sm-9">
				<input type="text" th:field="*{email}" style="width: 440px" required="required" />
			</div>
		</div>
		<div class="form-group row pl-4">
			<label class="col-sm-3 col-form-label">Password</label>
			<div class="col-sm-9">
				<input type="password" th:field="*{password}" style="width: 440px" required="required" 
				oninput="checkPasswordMatch(document.getElementById('confirmPassword'))" />
			</div>
		</div>
		<div class="form-group row pl-4">
			<label class="col-sm-3 col-form-label">Confirm Password</label>
			<div class="col-sm-9">
				<input type="password" id="confirmPassword" style="width: 440px" required="required" 
				oninput="checkPasswordMatch(this)" />
			</div>
		</div>
		<div class="form-group row pl-4">
			<label class="col-sm-3 col-form-label">Phone Number</label>
			<div class="col-sm-9">
				<input type="text" th:field="*{phoneNumber}" style="width: 440px" required="required" />
			</div>
		</div>
		<div class="form-group row pl-4">
			<label class="col-sm-3 col-form-label">Address</label>
			<div class="col-sm-9">
				<input type="text" th:field="*{address}" style="width: 440px" required="required" />
			</div>
		</div>
		<div class="form-group row pl-4">
			<label class="col-sm-3 col-form-label">Postal Code</label>
			<div class="col-sm-9">
				<input type="text" th:field="*{postalCode}" style="width: 440px" required="required" />
			</div>
		</div>
		<div class="form-group row pl-4">
			<label class="col-sm-3 col-form-label">Country</label>
			<div class="col-sm-9 pt-2">
				<select id="country" name="country" th:field="*{country}">
					<option value="Argentina">Argentina</option>
					<option value="Australia">Australia</option>
					<option value="Austria">Austria</option>
					<option value="Bahrain">Bahrain</option>
					<option value="Bangladesh">Bangladesh</option>
					<option value="Belarus">Belarus</option>
					<option value="Belgium">Belgium</option>
					<option value="Bolivia">Bolivia</option>
					<option value="Brazil">Brazil</option>
					<option value="Brunei">Brunei</option>
					<option value="Bulgaria">Bulgaria</option>
					<option value="Cambodia">Cambodia</option>
					<option value="Cameroon">Cameroon</option>
					<option value="Canada">Canada</option>
					<option value="China">China</option>
					<option value="Colombia">Colombia</option>
					<option value="Costa Rica">Costa Rica</option>
					<option value="Cote DIvoire">Cote DIvoire</option>
					<option value="Croatia">Croatia</option>
					<option value="Cuba">Cuba</option>
					<option value="Czech Republic">Czech Republic</option>
					<option value="East Timor">East Timor</option>
					<option value="Egypt">Egypt</option>
					<option value="Finland">Finland</option>
					<option value="France">France</option>
					<option value="Georgia">Georgia</option>
					<option value="Germany">Germany</option>
					<option value="Great Britain">Great Britain</option>
					<option value="Greece">Greece</option>
					<option value="Hong Kong">Hong Kong</option>
					<option value="Hungary">Hungary</option>
					<option value="Iceland">Iceland</option>
					<option value="Indonesia">Indonesia</option>
					<option value="India">India</option>
					<option value="Iran">Iran</option>
					<option value="Ireland">Ireland</option>
					<option value="Israel">Israel</option>
					<option value="Italy">Italy</option>
					<option value="Japan">Japan</option>
					<option value="Jordan">Jordan</option>
					<option value="Korea Sout">Korea South</option>
					<option value="Laos">Laos</option>
					<option value="Latvia">Latvia</option>
					<option value="Lebanon">Lebanon</option>
					<option value="Liberia">Liberia</option>
					<option value="Libya">Libya</option>
					<option value="Liechtenstein">Liechtenstein</option>
					<option value="Lithuania">Lithuania</option>
					<option value="Luxembourg">Luxembourg</option>
					<option value="Macau">Macau</option>
					<option value="Malaysia">Malaysia</option>
					<option value="Mexico">Mexico</option>
					<option value="Moldova">Moldova</option>
					<option value="Monaco">Monaco</option>
					<option value="Myanmar">Myanmar</option>
					<option value="Nepal">Nepal</option>
					<option value="Netherlands">Netherlands (Holland, Europe)</option>
					<option value="New Zealand">New Zealand</option>
					<option value="Nigeria">Nigeria</option>
					<option value="Norway">Norway</option>
					<option value="Oman">Oman</option>
					<option value="Phillipines">Philippines</option>
					<option value="Poland">Poland</option>
					<option value="Portugal">Portugal</option>
					<option value="Puerto Rico">Puerto Rico</option>
					<option value="Qatar">Qatar</option>
					<option value="Romania">Romania</option>
					<option value="Russia">Russia</option>
					<option value="Saudi Arabia">Saudi Arabia</option>
					<option value="Senegal">Senegal</option>
					<option value="Singapore">Singapore</option>
					<option value="Slovakia">Slovakia</option>
					<option value="Slovenia">Slovenia</option>
					<option value="South Africa">South Africa</option>
					<option value="Spain">Spain</option>
					<option value="Sweden">Sweden</option>
					<option value="Tahiti">Tahiti</option>
					<option value="Taiwan">Taiwan</option>
					<option value="Thailand">Thailand</option>
					<option value="Tunisia">Tunisia</option>
					<option value="Turkey">Turkey</option>
					<option value="United Kingdom">United Kingdom</option>
					<option value="Ukraine">Ukraine</option>
					<option value="United Arab Erimates">United Arab Emirates</option>
					<option value="United States of America">United States of America</option>
					<option value="Vietnam">Vietnam</option>
				</select>
			</div>
		</div>
		
		
		<div class="text-center">
			<input type="submit" value="Create Account" class="btn btn-primary mb-3" />
		</div>
		
		</form>
	</div>
	<div class="col-sm-3"></div>
</div>

<div th:replace="footer :: footer"></div>

</body>
<script th:src="@{/js/all.js}"></script>
<script type="text/javascript">

function checkPasswordMatch(confirmPassword) {
	if (confirmPassword.value != $("#password").val()) {
		confirmPassword.setCustomValidity("Password does not match! Please check again");
	} else {
		confirmPassword.setCustomValidity("");
	}
}

function checkEmailUnique(form) {
	url = "[[@{/customers/check_email}]]";
	userEmail = $("#email").val();
	csrfValue = $("input[name='_csrf']").val();
	
	params = {email: userEmail, _csrf: csrfValue};
	
	
	$.post(url, params, function(response) {
		if (response == "OK"){
			form.submit();
		} else if (response == "Duplicated") {
			alert("Email " + userEmail + " existed. Please use another email!");
		} else {
			alert("Unknown error!");
		}
	}).fail(function(){
		alert("Could not connect to the server!");
	});
	
	return false;
}
</script>
</html>