<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment = "footer">
	<div class="mw-100 d-flex flex-fill bg-light">
		<div class="w-25 pl-4 text-center">
			<p> <b><u>Showroom:</u></b> </p>
			<p> 170 Tran Quang Dieu Street, An Thoi Ward, Binh Thuy District, Can Tho City</p>
			<div>
				<i class="fas fa-map-marker-alt"></i>
				<p><a href="https://www.google.com/maps/place/10%C2%B003'24.3%22N+105%C2%B045'45.4%22E/
				@10.056755,105.7604283,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0xc1f7008324dacba7!
				7e2!8m2!3d10.0567548!4d105.7626172?hl=vi" target="_blank">Find in Google Maps</a></p>
			</div>
		</div>
		
		<div class="w-25 text-center">
			<p><b><u>Hotline</u></b></p>
			<p><b> (+84) 946.924.977 </b></p>
			<p><b> (+84) 123.456.789 </b></p>
			<p> (8 A.M to 10 P.M - everyday) </p>
		</div>
		
		<div class="w-25 text-center">
			<p><b><u>Community</u></b></p>
			<div class="text-center">
				<i class="fab fa-facebook"></i>
				<a href="https://www.facebook.com/">Facebook</a>
			</div>
			<div class="text-center">
				<i class="fab fa-youtube"></i>
				<a href="https://www.youtube.com/">Youtube</a>
			</div>
			
		</div>
		
		<div class="w-25 pr-4 text-center">
			<p><b><u>Chatbot</u></b></p>
			<p>Quick and smart. Chat with our visual assistant now!<p>
			<a href="http://localhost:8000/chatroom.html" target="_blank">Rasa Chatbot</a>
		</div>
	</div>
</div>
<script th:src="@{/js/all.js}"></script>
</body>