<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="page_head(title)">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0, minium-scale=1.0">

	<title>[[${title}]]</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/css/all.css}" />	
	<link rel="shortcut icon"  th:href="@{/images/webicon.png}" />
	<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
	<script type="text/javascript" th:src="@{/js/all.js}"></script>
	<script type="text/javascript" th:src="@{/style.css}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/richtext/jquery.richtext.min.js}"></script>
	
</head>
</html>