<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="header :: page_head('Order Detail')"></head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="text-center pt-2"><h2><u>Order Detail</u></h2></div>

<div class="row">
	<div class="col-1"></div>
	<div class="col-10">
		<div>
			<th:block th:each="detail : ${order.orderDetails}">
			<div class="row border p-2" th:with="product = ${detail.product}">
				<div class="text-center my-auto pr-2 col-1">[[${product.id}]]</div>	
				<div class="text-center col-2">
					<img th:src="@{${product.avatarPath}}" style="max-width: 120px; max-height: 120px" class="img-fluid"/>
				</div>
				<div class="text-center my-auto pr-2 pl-2 col-7">
					[[${product.name}]] X <span style="color: blue">[[${detail.quantity}]]</span> = 
					 <span style="color: blue">$[[${detail.unitPrice}]]</span>
				</div>
				<div class="text-center my-auto col-2" th:if="${!product.reviewedByCustomer && product.customerCanReview}">
					<a th:href="@{'/write_review/product/' + ${product.id}}" class="btn btn-primary">Review Product</a>
				</div>
				<div class="text-center my-auto col-2" th:if="${product.reviewedByCustomer}">
					<p style="color: red">(Product reviewed)</p>
				</div>
			</div>
			</th:block>
		</div>
		<div class="col text-center pt-2">
			<div><h4 style="color: blue">Product total: $[[${order.cartTotal}]]</h4></div>
			<div><h4 style="color: blue">Shipping cost: $[[${order.shippingCost}]]</h4></div>
			<div><h3 style="color: blue">Product total: $[[${order.total}]]</h3></div>
		</div>
		<div class="row pt-3">
			<div class="col-4"><h3 class="text-right">Tracking Information</h3></div>
			<div class="col-6 mt-1">
				<div class="col-md-12">
					<ul class="stepper stepper-vertical">
						<li>
						    <p class="circle"><b>NEW</b> ([[${order.orderTime}]])</p>
						    <p class="label">Your order has been placed</p>
						</li>
						<th:block th:each="track : ${order.orderTracks}">
						<li class="active">
							<p class="circle"><b>[[${track.status}]]</b> ([[${track.updateTime}]])</p>
							<p class="label">[[${track.notes}]]</p>
						</li>
						</th:block>
					</ul>					
				</div>
			</div>
			<div class="col-2"></div>
		</div>
	<hr>	
	<div class="col-1"></div>
	</div>
</div>

<div th:replace="footer :: footer"></div>
</body>
<script th:src="@{/js/all.js}"></script>
<script th:src="@{/js/jquery.number.min.js}"></script>
<script type="text/javascript"></script>
</html>