<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="header :: page_head(${PageTitle})"></head>
<head>
	<link th:href="@{/star-rating/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
	<script th:src="@{/star-rating/js/star-rating.js}"></script>
	<link th:href="@{/star-rating/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" type="text/css"></link>
	<script th:src="@{/star-rating/themes/krajee-svg/theme.js}"></script>
</head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="row ml-2 mr-2">
	<div class="col pl-2 ml-2 mt-2">
		<div th:if="${categoryParents != null && !categoryParents.empty}">
			<div class="row">
				<div class="col">
					<nav>
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a th:href="@{/}">Home</a>
							</li>
							
							<th:block th:each="parent : ${categoryParents}">
							<li class="breadcrumb-item">
								<a th:href="@{'/category/' + ${parent.endURL}}">[[${parent.name}]]</a>
							</li>
							</th:block>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row pt-3 pl-3 pb-5 pr-3">
	<input type="hidden" th:id="'maxQty' + ${product.id}" th:value="${product.quantity}" />
	<div class="col-sm-4 text-center">
		<img style="max-height: 400px" th:src="@{${product.avatarPath}}" class="img-fluid" />
	</div>
	<div class="col-sm-8">
		<div>
			<h2><b>[[${product.name}]]</b></h2>
			<hr>
		</div>
		<div class="row pr-3">
			<div class="col-sm-8">
				<div>
					<p style="color: black; font-weight: bold"> Brand: [[${product.brand.name}]] </p>
				</div>
				<div th:if="${product.discount <= 0}">
					<span style="color: blue; font-weight: bold">Price: $[[${product.sellingPrice}]]</span>
				</div>
				<div th:if="${product.discount > 0}">
					<span style="color: blue; font-weight: bold">Price: &nbsp; </span>
					<del><span style="color: black; font-weight: bold"> $[[${product.sellingPrice}]]</span></del>
					<span style="color: blue; font-weight: bold">&nbsp; &nbsp; $[[${product.discountSellingPrice}]]</span>
					<span style="color: red; font-weight: bold">  (-[[${product.discount}]]%) </span>
				</div>
				<div><p></p></div>
				<div>
					<p th:unless="${product.instock}" style="color: red; font-weight: bold">Product Not Available</p>
					<p th:if="${product.instock}" style="color: green; font-weight: bold">Product Available Now</p>
				</div>
				
				<th:block th:if="${product.instock}">
				<div class="row">
					<div class="row ml-1">		
						<a class="mt-1 btn btn-primary btn-sm linkMinus" th:pid="${product.id}">
							<i class="fas fa-minus" style="color: white"></i>
						</a>
						<input class="mt-1 mr-1 ml-1" style="width: 40px; text-align: right" 
							type="text" value="1" th:id="'quantity' + ${product.id}" onkeydown="return false;" />
						<a class=" mt-1 btn btn-primary btn-sm linkPlus" th:pid="${product.id}">
							<i class="fas fa-plus" style="color: white"></i>
						</a>
						<input type="button" value="Add to cart" id="buttonAddToCart" 
							class="btn btn-primary btn-sm mt-1 mr-1 ml-1" />	
					</div>
					<div class="row ml-4 pt-2 ">([[${product.quantity}]] products remain)</div>
				</div>
				</th:block>
				
				<div class="col pt-1">
					<div class="col">
						<input type="text" class="product-detail-rating-star" dir="ltr" data-size="sm" 
							th:value="${product.averageRating}" />
					</div>
					<div class="pl-5">
						<p>([[${product.reviewCount}]] reviews)</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
<div th:with="productId=${product.id}"></div>
</div>
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10"><hr></div>
	<div class="col-sm-1"></div>
</div>
<div class="row mt-3 ml-5 mb-5 mr-5">
	<div class="col-sm-9 justify-content-center border rounded">
		<h2 class="text-center" style="color: blue"><u>Description</u></h2>
		<div th:utext="${product.description}"></div>
	</div>
	<div class="col-sm-3">
		<div class="border rounded p-2">
			<h3 class="text-center" style="color: blue"><u>Item Specifics</u></h3>
			<div th:utext="${product.itemSpecifics}"></div>
		</div>	
	</div>
</div>

<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<hr>
		<h3>Customer Reviews</h3>
		<div class="text-center">
			<input type="text" class="product-detail-rating-star" dir="ltr" data-size="lg" 
				th:value="${product.averageRating}" />
			<p>([[${product.reviewCount}]] reviews)</p>
			<div th:if="${customerReviewed}" class="col ">
				<p>You already reviewed this product</p>
			</div>
			<div th:if=${customerCanReview} class="col">
				<a class="btn btn-primary" th:href="@{'/write_review/product/' + ${product.id}}">Review Product</a>
			</div>
		</div>
		<th:block th:each="review : ${listReviews}">
		<div class="col border border-rounded mt-2">
			<div class="row">
				<div class="col-3 text-center">
					<p class="pt-2"><b>[[${review.customer.firstName}]] [[${review.customer.lastName}]]</b></p>
					<p>([[${review.reviewTime}]])</p>
				</div>
				<div class="col">
					<input type="text" class="product-detail-rating-star" dir="ltr" data-size="sm" 
						th:value="${review.rating}" />
					<b>[[${review.heading}]]</b>
					<p>[[${review.comment}]]</p>
				</div>
			</div>
		</div>
		</th:block>
		<div class="text-center pt-3"><a th:href="@{'/reviews/' + ${product.endURL}}">View all reviews</a></div>
	</div>
	<div class="col-sm-1"></div>
</div>

<div class="row mb-3">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<hr>
		<h3>Product you may like</h3>
		<div class="row">
			<div class="col-3">
				<div class="d-flex flex-column align-items-center justify-content-center border rounded" style="height:420px">
					<a class="d-flex flex-column align-items-center justify-content-center" 
						th:href="@{'/product/' + ${rec1.endURL}}">
						<img th:src="@{${rec1.avatarPath}}" class="pt-3" style="max-width: 150px; max-height: 220px;">
						<br/>
						<b class="pl-1">[[${rec1.name}]]</b>
					</a>
					<div th:if="${rec1.discount <= 0}">
						<span style="color: blue; font-weight: bold">$[[${rec1.sellingPrice}]]</span>
					</div>
					<div th:if="${rec1.discount > 0}">
						<del><span style="color: black; font-weight: bold">$[[${rec1.sellingPrice}]]</span></del>
						<span style="color: blue; font-weight: bold">&nbsp; &nbsp; $[[${rec1.discountSellingPrice}]]</span>
					</div>
					<div class="col text-center">
						<input type="text" class="product-detail-rating-star" dir="ltr" data-size="sm" 
							th:value="${rec1.averageRating}" />
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="d-flex flex-column align-items-center justify-content-center border rounded" style="height:420px">
					<a class="d-flex flex-column align-items-center justify-content-center" 
						th:href="@{'/product/' + ${rec2.endURL}}">
						<img th:src="@{${rec2.avatarPath}}" class="pt-3" style="max-width: 150px; max-height: 220px;">
						<br/>
						<b class="pl-1">[[${rec2.name}]]</b>
					</a>
					<div th:if="${rec2.discount <= 0}">
						<span style="color: blue; font-weight: bold">$[[${rec2.sellingPrice}]]</span>
					</div>
					<div th:if="${rec2.discount > 0}">
						<del><span style="color: black; font-weight: bold">$[[${rec2.sellingPrice}]]</span></del>
						<span style="color: blue; font-weight: bold">&nbsp; &nbsp; $[[${rec2.discountSellingPrice}]]</span>
					</div>
					<div class="col text-center">
						<input type="text" class="product-detail-rating-star" dir="ltr" data-size="sm" 
							th:value="${rec2.averageRating}" />
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="d-flex flex-column align-items-center justify-content-center border rounded" style="height:420px">
					<a class="d-flex flex-column align-items-center justify-content-center" 
						th:href="@{'/product/' + ${rec3.endURL}}">
						<img th:src="@{${rec3.avatarPath}}" class="pt-3" style="max-width: 150px; max-height: 220px;">
						<br/>
						<b class="pl-1">[[${rec3.name}]]</b>
					</a>
					<div th:if="${rec3.discount <= 0}">
						<span style="color: blue; font-weight: bold">$[[${rec3.sellingPrice}]]</span>
					</div>
					<div th:if="${rec3.discount > 0}">
						<del><span style="color: black; font-weight: bold">$[[${rec3.sellingPrice}]]</span></del>
						<span style="color: blue; font-weight: bold">&nbsp; &nbsp; $[[${rec3.discountSellingPrice}]]</span>
					</div>
					<div class="col text-center">
						<input type="text" class="product-detail-rating-star" dir="ltr" data-size="sm" 
							th:value="${rec3.averageRating}" />
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="d-flex flex-column align-items-center justify-content-center border rounded" style="height:420px">
					<a class="d-flex flex-column align-items-center justify-content-center" 
						th:href="@{'/product/' + ${rec4.endURL}}">
						<img th:src="@{${rec4.avatarPath}}" class="pt-3" style="max-width: 150px; max-height: 220px;">
						<br/>
						<b class="pl-1">[[${rec4.name}]]</b>
					</a>
					<div th:if="${rec4.discount <= 0}">
						<span style="color: blue; font-weight: bold">$[[${rec4.sellingPrice}]]</span>
					</div>
					<div th:if="${rec4.discount > 0}">
						<del><span style="color: black; font-weight: bold">$[[${rec4.sellingPrice}]]</span></del>
						<span style="color: blue; font-weight: bold">&nbsp; &nbsp; $[[${rec4.discountSellingPrice}]]</span>
					</div>
					<div class="col text-center">
						<input type="text" class="product-detail-rating-star" dir="ltr" data-size="sm" 
							th:value="${rec4.averageRating}" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>

<script>!(function () {
  let e = document.createElement("script"),
    t = document.head || document.getElementsByTagName("head")[0];
  (e.src =
    "https://cdn.jsdelivr.net/npm/rasa-webchat/lib/index.js"),
    // Replace 1.x.x with the version that you want
    (e.async = !0),
    (e.onload = () => {
      window.WebChat.default(
        {
          initPayload: '/greet',
          customData: { language: "en" },
          socketUrl: "http://localhost:5005",
          // add other props here
        },
        null
      );
    }),
    t.insertBefore(e, t.firstChild);
})();
</script>

<div th:replace="footer :: footer"></div>

</body>
<script th:src="@{/js/all.js}"></script>
<script type="text/javascript">
contextPath = "[[@{/}]]"
var csrfHeaderName = "[[${_csrf.headerName}]]";
var csrfValue = "[[${_csrf.token}]]";

$(document).ready(function(){
	$(".linkMinus").on("click", function(evt){
		evt.preventDefault();
		productId = $(this).attr("pid");
		quantityInput = $("#quantity" + productId);
		newQuantity = parseInt(quantityInput.val()) - 1;
		
		if(newQuantity > 0){
			quantityInput.val(newQuantity);
		} else {
			alert('Min quantity is 1');
		}
	});
	
	$(".linkPlus").on("click", function(evt){
		evt.preventDefault();
		productId = $(this).attr("pid");
		quantityInput = $("#quantity" + productId);
		newQuantity = parseInt(quantityInput.val()) + 1;
		max = $("#maxQty" + productId).val();
		
		if(newQuantity <= max){
			quantityInput.val(newQuantity);
		} else {
			alert('You cannot add more!');
		}
	});
	
	$("#buttonAddToCart").on("click", function(evt){
		addToCart();
	});
});

function addToCart(){
	quantity = $("#quantity" + productId).val();
	url = contextPath + "cart/add/" + productId + "/" + quantity;
	
	$.ajax({
		type: "POST",
		url: url,
		beforeSend: function(xhr) {
			xhr.setRequestHeader(csrfHeaderName, csrfValue);
		}
	}).done(function(response){
		alert(response);
	}).fail(function(){
		alert("Some errors occur! Please try again later.");
	});
}

$(".product-detail-rating-star").rating({
	displayOnly: true,
	hoverOnClear: false,
	showCaption: false,
	theme: "krajee-svg"
})
</script>
</html>