<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="header :: page_head(${PageTitle})"></head>
<head>
	<link th:href="@{/star-rating/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
	<script th:src="@{/star-rating/js/star-rating.js}"></script>
	<link th:href="@{/star-rating/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" type="text/css"></link>
	<script th:src="@{/star-rating/themes/krajee-svg/theme.js}"></script>
</head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="row ml-2 mr-2">
	<div class="col pl-2 ml-2 mt-2">
		<div th:if="${categoryParents != null && !categoryParents.empty}">
			<div class="row">
				<div class="col">
					<nav>
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a th:href="@{/}">Home</a>
							</li>
							
							<th:block th:each="parent : ${categoryParents}">
							<li class="breadcrumb-item">
								<a th:href="@{'/category/' + ${parent.endURL}}">[[${parent.name}]]</a>
							</li>
							</th:block>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-md-3 pl-4">
		<div class="border border-primary rounded ">
			<ul class="nav flex-column" th:each="cat : ${listCategories}">
				<li class="nav-item">
					<div class="d-flex align-items-center justify-content-center">				
						<i class="fas fa-caret-right col-md-1" style="color: blue"></i>
						<a class="nav-link active col-md-11" th:href="@{'/category/' + ${cat.endURL}}">[[${cat.name}]]</a>
					</div>			
	  			</li>
			</ul>
		</div>
	</div>
	
	<div class="row col-md-9">
		<th:block th:each="product : ${listProducts}">
		<div class="col-md-4 pb-2" >
			<div class="d-flex flex-column align-items-center justify-content-center border rounded" style="height:420px">
				<a class="d-flex flex-column align-items-center justify-content-center" 
					th:href="@{'/product/' + ${product.endURL}}">
					<img th:src="@{${product.avatarPath}}" class="pt-3" style="max-width: 150px; max-height: 220px;">
					<br/>
					<b class="pl-1">[[${product.name}]]</b>
				</a>
				<div th:if="${product.discount <= 0}">
					<span style="color: blue; font-weight: bold">$[[${product.sellingPrice}]]</span>
				</div>
				<div th:if="${product.discount > 0}">
					<del><span style="color: black; font-weight: bold">$[[${product.sellingPrice}]]</span></del>
					<span style="color: blue; font-weight: bold">&nbsp; &nbsp; $[[${product.discountSellingPrice}]]</span>
				</div>
				<div class="col text-center">
					<input type="text" class="product-detail-rating-star" dir="ltr" data-size="sm" 
						th:value="${product.averageRating}" />
				</div>
			</div>
		</div>
		</th:block>
	</div>

</div>

<div>
	<nav>
		<ul class="pagination justify-content-center flex-wrap">
		
			<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
				<a class="page-link fas fa-fast-backward fa-lg" 
					th:href="@{/category/${category_endURL}/page/1}"></a>
			</li>
				
			<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
				<a class="page-link fas fa-angle-left fa-lg" 
					th:href="@{'/category/${category_endURL}/page/' + ${currentPage - 1}}"></a>
			</li>

			<th:block th:if="${totalPages <= 10}">					
			<li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" 
				th:each="i : ${#numbers.sequence(1, totalPage)}">
				<a class="page-link" style="font-size: 0.8em" th:href="@{'/category/${category_endURL}/page/' + ${i}}">[[${i}]]</a>
			</li>
			</th:block>
			
			<th:block th:if="${totalPages > 10}">
				<th:block th:if="${currentPage <= 5 || currentPage > totalPage - 4}">
					<li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" 
						th:each="i : ${#numbers.sequence(1, 5)}">
						<a class="page-link" style="font-size: 0.8em" th:href="@{'/category/${category_endURL}/page/' + ${i}}">[[${i}]]</a>
					</li>
					
					<a class="page-link" th:href="@{'/category/${category_endURL}/page/' + 6 }">...</a>
					
					<li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" 
						th:each="i : ${#numbers.sequence(totalPage - 4, totalPage)}">
						<a class="page-link" style="font-size: 0.8em" th:href="@{'/category/${category_endURL}/page/' + ${i}}">[[${i}]]</a>
					</li>
				</th:block>
			</th:block>

			<li th:class="${currentPage < totalPage ? 'page-item' : 'page-item disabled'}">
				<a class="page-link fas fa-angle-right fa-lg" th:href="@{'/category/${category_endURL}/page/' + ${currentPage + 1} }"></a>
			</li>
  				
  				
			<li th:class="${currentPage < totalPage ? 'page-item' : 'page-item disabled'}">
				<a class="page-link fas fa-fast-forward fa-lg" th:href="@{'/category/${category_endURL}/page/' + ${totalPage} }"></a>
			</li>
  				
		</ul>
	</nav>
</div>

<div th:replace="footer :: footer"></div>

</body>
<script th:src="@{/js/all.js}"></script>
<script type="text/javascript">
$(".product-detail-rating-star").rating({
	displayOnly: true,
	hoverOnClear: false,
	showCaption: false,
	theme: "krajee-svg"
})
</script>
</html>