<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="header :: page_head('Your Review')"></head>
<head>
	<link th:href="@{/star-rating/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
	<script th:src="@{/star-rating/js/star-rating.js}"></script>
	<link th:href="@{/star-rating/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" type="text/css"></link>
	<script th:src="@{/star-rating/themes/krajee-svg/theme.js}"></script>
</head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="row mb-4">
	<div class="col-3"></div>
	<div class="col-6 mt-3 border border-rounded">
		<h3 class="text-center"><u>Write your review</u></h3>
		<div class="text-center">
			<img style="max-width: 200px" th:src="@{${product.avatarPath}}" class="img-fluid" />
		</div>
		<div class="text-center"><h5>[[${product.name}]]</h5></div>
		<form th:action="@{/post_review}" th:object="${review}" method="post">
			<input type="hidden" name="productId" th:value="${product.id}" />
			<div class="text-center">
				<p><input type="text" th:field="*{rating}" class="product-rating-star" dir="ltr" data-size="md" data-step="1" /></p>
			</div>
			<div class="pb-4">
				<p class="h5">Title</p>
				<input type="text" th:field="*{heading}" class="form-control" required minlength="4" maxlength="30" />
			</div>
			<div class="pb-3">
				<p class="h5">Content</p>
				<textarea rows="4" type="text" th:field="*{comment}" class="form-control" required minlength="4" maxlength="600"></textarea>
			</div>
			<p class="text-center"><input type="submit" value="Post Review" class="btn btn-primary" /></p>
		</form>
	</div>
	<div class="col-3"></div>
</div>

<div th:replace="footer :: footer"></div>

</body>
<script th:src="@{/js/all.js}"></script>
<script th:src="@{/js/jquery.number.min.js}"></script>
<script type="text/javascript">
$(".product-rating-star").rating({
	hoverOnClear: false,
	theme: "krajee-svg"
})
</script>
</html>