<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="header :: page_head('Computer Store Admin - Home')"></head>
<body>
	
<div th:replace="navbar :: navbar"></div>
<div>
	<h1 class="font-weight-bold text-center pt-4">Welcome to Computer Store Admin Control Panel</h1>
</div>

<div class="bg-secondary text-white text-center fixed-bottom">
	<h3>ComputerStore - Copyright &copy;B1710131</h3>
</div>
	

</body>
<script th:src="@{/js/all.js}"></script>
</html>