<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="header :: page_head('Computer Store Admin - Home')"></head>
<body>
	
<div th:replace="navbar :: navbar"></div>
<div>
	<h1 class="font-weight-bold text-center pt-4">WELCOME TO COMPUTER STORE ADMIN CONTROL PANEL</h1>
</div>

<div class="row">
	<div class="col-2"></div>
	<div class="col-8 text-center">
		<hr>
		<h3 class="pt-5">Emergency Contact:</h3>
		  <p style="font-size: 1.5em;">0935.214.141 (Mr. Cuong)</p>
		  <p style="font-size: 1.5em;">0293.213.121 (Mr. Quang)</p>
	</div>
	<div class="col-2"></div>
</div>

</body>
<script th:src="@{/js/all.js}"></script>
</html>